.wp-block-block-template-block-nest {
	background-color: #21759b;
	color: #fff;
	padding: 2px;

	@for $i from 1 through 6 {
		&.has-col-#{$i} {
			.wp-block-block-template-single-block {
				width: calc(100% / #{$i} - 20px);
			}
		}
	}

	.wp-block-block-template-single-block {
		margin: 10px;

		h4 {
			color: #222;
			font-size: 22px;
			font-size: bold;
			margin: 0;
		}

		p {
			color: #565656;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 5px;
			margin-top: 5px;
		}
	}
}
